lf/.config/lf/files
lf/.config/lf/history
lf/.config/lf/marks
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugged/
nvim/.config/nvim/rplugin.vim
nvim/.config/nvim/shada/
nvim/.config/nvim/site/
nvim/.config/nvim/swap/
polybar/.config/polybar/config.bak
polybar/.config/polybar/config_old
x11/.xinitrc_bspwm
zathura/.config/zathura/bookmarks
zathura/.config/zathura/history
zathura/.config/zathura/input-history
zsh/.config/zsh/.p10k.zsh
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompdump-loarch-5.8
